/*
* Author : Huy
*/

body, p, ul, li, h1, h2, h3, h4, h5, h6, section, div, header, aside, footer {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
}

body, p, h1, h2, h3, h4, h5, h6, section, div, header, aside, footer {
    display: block;
}

/* HTML5 display-role reset for older browsers */
article, details, figcaption, figure, hgroup, menu, nav {
    display: block;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    background: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol.default, ul.default {
    list-style: circle;
}

img {
    vertical-align: middle;
    border: 0px;
}

.line-h {
    line-height: 1;
}

.m-t-0 {
    margin-top: 0px !important;
}

.m-t-5 {
    margin-top: 5px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-l-0 {
    margin-left: 0px !important;
}

.m-l-5 {
    margin-left: 5px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-l-25 {
    margin-left: 25px;
}

.m-l-30 {
    margin-left: 30px;
}

.m-l-50 {
    margin-left: 50px;
}

.m-r-0 {
    margin-right: 0px !important;
}

.m-r-5 {
    margin-right: 5px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-r-25 {
    margin-right: 25px;
}

.m-r-30 {
    margin-right: 30px;
}

.m-r-50 {
    margin-right: 50px;
}

.m-a {
    margin: 0 auto;
}

.d-inline {
    display: inline !important;
}

.d-block {
    display: block !important;
}

.d-none {
    display: none !important;
}

.text-white {
    color: #FFF;
}

.text-black {
    color: #000;
}

.text-12 {
    font-size: 12px;
}

.text-13 {
    font-size: 13px;
}

.text-14 {
    font-size: 14px;
}

.text-15 {
    font-size: 15px;
}

.text-16 {
    font-size: 16px;
}

.text-17 {
    font-size: 17px;
}

.text-18 {
    font-size: 16px;
}

.text-20 {
    font-size: 20px;
}

.text-24 {
    font-size: 24px;
}

.text-center {
    text-align: center;
}

.p-0 {
    padding: 0px;
}

.p-t-0 {
    padding-top: 0px;
}

.p-t-5 {
    padding-top: 5px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-25 {
    padding-top: 25px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-t-50 {
    padding-top: 50px;
}

.p-l-0 {
    padding-top: 0px;
}

.p-r-0 {
    padding-top: 0px;
}

.p-10 {
    padding: 10px;
}

.p-10-0 {
    padding: 10px 0px;
}

.p-15 {
    padding: 15px;
}

.p-15-0 {
    padding: 15px 0px;
}

.p-20 {
    padding: 20px;
}

.p-20-0 {
    padding: 20px 0px;
}

.border-n {
    border: none;
}

.border-r-n {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px
}

.border-r-5 {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

.border-r-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px
}

.border-r-50 {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.cleared:before, .cleared:after {
    content: " ";
    display: table;
}

.cleared:after {
    clear: both;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

#error-pass, #error-email {
    color: red;
}

.has-error {
    border: 1px solid red !important;
}